source https://nuget.org/api/v2
framework: auto-detect
strategy: max

nuget FSharp.Core >= 4.7.0
nuget FSharpAux >= 1.0.0
nuget FSharpAux.IO >= 1.0.0

nuget docker.dotnet >= 3.125.2
nuget SharpZipLib >= 1.2.0
nuget CNTK.CPUOnly >= 2.7.0
nuget FSharp.Stats >= 0.2.1-beta
nuget BioFSharp >= 1.2.0
nuget BioFSharp.BioContainers >= 1.2.0
nuget BioFSharp.BioDb >= 1.2.0
nuget BioFSharp.ImgP >= 1.2.0
nuget BioFSharp.IO >= 1.2.0
nuget BioFSharp.ML >= 1.2.0
nuget BioFSharp.Stats >= 1.2.0
nuget BioFSharp.Vis >= 1.2.0

source https://ci.appveyor.com/nuget/fsharp-formatting
nuget FSharp.Compiler.Service 34.1.1
nuget FSharp.Formatting prerelease
nuget FSharp.Formatting.CommandTool prerelease
nuget Newtonsoft.Json >= 12.0.0
nuget FSharp.Plotly >= 1.2.2

nuget Fake.Core
nuget BlackFox.Fake.BuildTask