<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta name="description" content="@Description" />
    <meta name="author" content="@Properties["project-author"]" />

    <script src="https://code.jquery.com/jquery-1.8.0.js"></script>
    <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js"></script>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
    </style>
    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="@Root/styles/poole.css" />
    <link type="text/css" rel="stylesheet" href="@Root/styles/lanyon.css" />
    <link type="text/css" rel="stylesheet" href="@Root/styles/snippets.css" />
    <script type="text/javascript" src="@Root/content/tips.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
</head>
  <body>
      <!-- SIDEBAR -->
      <!--Target for toggling the sidebar `.sidebar-checkbox` is for regular
    styles, `#sidebar-checkbox` for behavior. -->
      <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
      <!-- Toggleable sidebar -->
      <div class="sidebar" id="sidebar">
          <div class="sidebar-item">
              <p>The official Blog of the Computational Systems Biology workgroup of the TU Kaiserslautern</p>
          </div>
          <nav class="sidebar-nav">
              <a class="sidebar-nav-item" href="@Root/index.html">Home</a>
              <a class="sidebar-nav-item-inv">Empty</a>
              <a class="sidebar-nav-item" href="@Root/blog.html">Blog Posts</a>
              <a class="sidebar-nav-item" href="@Root/internal.html">Internal Posts</a>
              <a class="sidebar-nav-item" href="@Root/documentation.html">Intro to Documentation</a>
              <a class="sidebar-nav-item" href="@Root/CSBarReports.html">CSBar statistical analyses</a>
              <a class="sidebar-nav-item-inv">Empty</a>
              <a class="sidebar-nav-item" href="https://github.com/CSBiology">CSB on GitHub</a>
              <a class="sidebar-nav-item" href="http://csb.bio.uni-kl.de/">Official Site</a>
              <a class="sidebar-nav-item" href="@Root/about.html">About</a>
              <span class="sidebar-nav-item">Currently v0.1</span>
          </nav>
          <div class="sidebar-item">
              <p>
                  &copy; hello
              </p>
          </div>
      </div>


      <!-- CONTENT-->

      <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
    content to avoid any CSS collisions with our real content. -->
      <div class="wrap">
          <div class="masthead">
              <div class="container">
                  <h3 class="masthead-title">
                      <a href="index.html" title="Home">CSBlog</a>
                      <small>Computational Systems Biology Blog</small>
                  </h3>
              </div>
          </div>
          <div class="container content">
              @RenderBody()
          </div>
      </div>
      <label for="sidebar-checkbox" class="sidebar-toggle"></label>
      <script>
          (function (document) {
              var toggle = document.querySelector('.sidebar-toggle');
              var sidebar = document.querySelector('#sidebar');
              var checkbox = document.querySelector('#sidebar-checkbox');

              document.addEventListener('click', function (e) {
                  var target = e.target;

                  if (!checkbox.checked ||
                      sidebar.contains(target) ||
                      (target === checkbox || target === toggle)) return;

                  checkbox.checked = false;
              }, false);
            })(document);
    </script>

  </body>
  </html >
